<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="images/logo1.png" alt="Logo" width="40" height="34">
            </a>
            <a href="/">Home</a>
            <a href="/movies">Movies</a> <!-- Link to /movies route -->
            <a href="/schedule">Schedule</a> <!-- Link to /schedule route -->
            <a href="/login">Login</a> <!-- Link to /schedule route -->
        </div>
    </nav>
</header>
